body {
    font-family: "Poppins";
    margin: 0;
}
.container {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "sd main main main main main main main";
}

.sidebar {
    position: relative;
    background-color:#ECFFF9;
    grid-area: sd;
    padding: 30px 50px 30px 30px;
    box-shadow: 1px 0px 4px #bdc9c5;
}

.sidebar img {
    height: 48px;
    max-width: 150px;
    left: 53px;    
    position: relative;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0 10px 0;
    border: 1px solid transparent;
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #1F194C;
}
.active {
    border: 1px solid black;
    color: white !important;
    background-color:#1F194C;
    padding: 10px 70px 10px 10px;
}

i {
    margin-right: 20px;
}

.main {
    grid-area: main;
    padding: 35px;
}

.main img {
    margin-left: 20%;
}
span {
    position: absolute;
    bottom: 10px;
}

p {
    margin-top: 0;
    width: 30%;
    margin-left: 30%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

button {
    border-radius: 53px;
    padding: 10px;
    margin-left: 33%;
    color: #fff;
    background-color: #1F194C;
    font-weight: 200;
    font-size: 18px;
}



/* @media (min-width: 600px) and (max-width: 1100px) {
    .container {
        display: grid;
        height: 100%;
        grid-template-areas: 
        "sd main main main main main main main";
    }
    
}

@media (min-width: 901px) {
    .container {
        display: grid;
        height: 100%;
        grid-template-areas: 
        "sd main main main main main main main";
    }
} */