{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Bloom | Sign Up and Sign In</title>
</head>

<body>
    <!-- Sign Up -->

    <section class="d-lg-flex half">
        <div class="bg order-2 order-md-1" style="background-image: url('https://github.com/BethanyJep/silver-happiness/blob/main/bg_1.png?raw=true');"></div>
        <div class="contents order-1 order-md-2">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>Tutor's Sign Up</h3>
                        <p class="mb-4">Already have an account? <span><a href="{% url 'teacher:signin' %}">Sign In</a></span></p>
                        <form action="#" method="post">
                            {% csrf_token %} {{user_details.as_p}}
                            <div class="form-group first">
                                <label for="username">Role</label>
                                <br>
                                <section class="role-container">
                                    <div class="form-check form-check-inline role">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Student</label>
                                    </div>
                                    <div class="form-check form-check-inline role">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
                                        <label class="form-check-label" for="inlineRadio3">Teacher</label>
                                    </div>
                            </div>
                            <input type="submit" value="Next" class="btn btn-block btn-primary">
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

<!-- onclick="window.location='teacher-signup.html';" -->
<!--<form method="post">
{% csrf_token %}
<p>{{user_details.as_ul}}</p>
<input type="submit" value="Register">
</form>-->
